.banner {
  padding: 10px 5px;
  margin: 20px 0 0;
  text-align: center;
  border-radius: 5px;
}

.wonBanner {
  border: 2px solid rgb(var(--highlight-rgb));
}

.lostBanner {
  border: 2px solid #be6464;
}

.previousGuesses {
  margin: 40px auto 0;
  text-align: center;
  display: flex;
  align-items: center;
  max-width: var(--inner-width);
}

.previousGuessesTitle {
  margin: 0 10px;
  color: #ccc;
}

.line {
  border-top: 1px dashed #eee;
  flex: 1;
}

.shareButton {
  background-color: rgb(var(--highlight-rgb));
  padding: 10px 5px;
  margin: 20px 0 0;
  flex: 1;
  width: 100%;
  font-size: 1.2rem;
}

.loadingContainer {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
}