:root {
  --max-width: 980px;
    --inner-width: 400px;
    --image-width: 600px;

    --foreground-rgb: 255, 255, 255;
    --background-rgb: 39, 39, 42;
    --background-strong-rgb: 19, 19, 21;
    --background-weak-rgb: 59, 59, 62;
    --neutral-rgb: 91,91,103;

    --highlight-rgb: 62 202 150;
    --highlight-secondary-rgb: 136 85 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 39, 39, 42;
    --background-strong-rgb: 19, 19, 21;
    --background-weak-rgb: 59, 59, 62;
    --neutral-rgb: 91,91,103;

    --highlight-rgb: 62 202 150;
    --highlight-secondary-rgb: 136 85 245;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  font-size: 13.5px;
  padding-bottom: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html, body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

a, .pseudo-link {
  color: rgb(var(--highlight-rgb));
  text-decoration: none;
}

a:hover, .pseudo-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

p {
  line-height: 1.75rem;
  margin-top: 15px;
}

input {
  border-style: solid;
  height: 2.5rem;
  background-color: rgb(var(--background-weak-rgb));
  border: 2px solid rgb(var(--neutral-rgb));
  font-size: 1rem;
  color: rgb(var(--foreground-rgb));
}

input:disabled {
  color: rgba(var(--foreground-rgb), .4);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(var(--foreground-rgb), .5);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(var(--foreground-rgb), .5);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(var(--foreground-rgb), .5);
}

button {
  border-width: 0;
  color:rgba(var(--foreground-rgb), 1);
  background-color: rgb(var(--neutral-rgb));
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: .4;
  background-color: rgb(var(--background-strong-rgb));
}

button:disabled:hover {
  cursor: default;
}


.button-highlight {
  background-color: rgb(var(--highlight-rgb));
}

.button {
  width: 100%;
  padding: 12px;
}
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer {
  background-color: rgba(var(--background-rgb), 1);
  padding: 10px;
  border-top: 1px solid rgb(var(--background-weak-rgb));
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color:rgba(var(--foreground-rgb), .5)
}

footer a {
  padding-left: 10px;
  padding-right: 10px;
}


.highlighted-text {
  color: rgb(var(--highlight-rgb))
}

.highlighted-text-secondary {
  color: rgb(var(--highlight-secondary-rgb))
}

.highlighted-answer {
  
}

.inner-container {
  max-width: var(--inner-width);
  margin: 0 auto;
}

.inner-container--hero {
  max-width: calc(var(--inner-width) + 40px);
}

.inner-container--image {
  max-width: var(--image-width);
}

@media (max-width: 600px) {
  :root {
    --image-width: 100%;
  }


  .inner-container--image {
    padding-left: 0px;
    padding-right: 0px;
  }

  .inner-container--hero {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 410px) {
  .inner-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .inner-container--image {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* *****************************************************
*
*
*                Third Party Overrides
*
*
****************************************************** */


/* *****************************************************
*                     Toasts
****************************************************** */

.toast-container {
  min-height: 0;
  width: 90% !important;
  max-width: 100%;
  padding: 0 !important;
}

.toast-inner {
  border: 2px solid rgb(var(--foreground-rgb));
}

.toast-body {
  min-height: 0;
  text-align: center;
  color: rgb(var(--foreground-rgb));
  font-size: 1rem;
}

/* *****************************************************
*                     Modals
****************************************************** */

.modal-overlay {
  background-color: rgba(var(--background-rgb), .75);
  position: fixed;
  inset: 0px;
  z-index: 2
}

.modal-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(var(--background-strong-rgb));
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 40px;
  overflow-y: scroll;
  max-height: calc(100% - 80px);
  max-width: calc(100% - 10px);
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 10px;
  color: rgb(var(--foreground-rgb));
  font-size: 30px;
}

.modal-close:hover {
  cursor: pointer;
  opacity: .8;
}

@media (max-width: 410px) {
  .modal-body {
    padding: 15px;
  }
}

.overflow-hidden {
  overflow: hidden;
}
