.imagesRowOuter {
  margin: 20px auto 0;
  position: relative;
  overflow: hidden;
  width: var(--image-width);
  padding: calc(.56 * 50%) 0;
}

.imageContainer {
  width: var(--image-width);
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.imageOverlay {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 10;
  background-color: rgb(var(--highlight-secondary-rgb));
  padding: 5px 10px;
}

.imageNav {
  display: flex;
  justify-content: center;
  margin: 10px auto 0;
}

.imageNavButton {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 5px;
}
.imageNavButton:last-child {
  margin-right: 0px;
}

.imageNavButtonActive {
  background-color: rgb(var(--highlight-rgb))
}