.input-container {
  position: relative;
  margin-bottom: 5px;
}

.input {
  padding: 5px;
  width: 100%;
}

.suggestions-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  list-style-type: none;
  background-color: rgb(var(--background-rgb));
  max-height: 13rem;
  overflow-y: scroll;
}

.suggestionsContainerOpen {
  border: 1px solid red;
}

.suggestions-container ul {
  border: 1px solid #fff;
}

.suggestions-container li {
  list-style-type: none;
  border-bottom: 1px solid #fff;
  padding: 7px 5px;
}

.highlighted-suggestion {
  font-weight: bold;
}