.header {
  text-align: center;
  font-weight: 400;
}

.statsRow {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.statsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 5px;
  background-color: rgb(var(--background-rgb));
  border-radius: 3px;
  padding: 12px;
  flex: 1;
  flex-direction: column-reverse;
}

.statsValue {
  font-size: 2.5rem;
}

.statsLabel {
  font-weight: 300;
  font-size: 0.9rem;
  padding-bottom: 8px;
  max-width: 100px;
  text-align: left;
  opacity: 0.8;
}

.statsDivider {
  width: 400px;
  padding: 40px;
}

.distributionContainer {
  margin-top: 20px;
  align-items: center;
}
.distributionNumber {
  width: 20px;
  display: flex;
  align-items: center;
}
.distributionRow {
  display: flex;
  margin-bottom: 15px;
}
.distributionBarContainer {
  flex: 1;
  background-color: rgb(var(--background-rgb));
  display: flex;
  align-items: center;
}
.distributionBarInner {
  padding: 0 8px;
  min-height: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(var(--highlight-rgb));
}

.howToPlayContainer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.howToPlayBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 25px;
}

.howToPlayBlockIcon {
  opacity: 0.5;
}

.howToPlayBlockBody {
  padding-left: 20px;
}

.howToPlayContainer p {
  margin-top: 0;
  opacity: 0.9;
  font-size: 1.1rem;
}

@media (max-width: 410px) {
  .howToPlayBlockIcon {
    transform: scale(0.8);
  }
  .howToPlayBlockBody {
    padding-left: 15px;
  }
}

.faqLink {
  padding-top: 50px;
  text-align: center;
}

.faqTitle {
  margin-top: 25px;
}

.faqBlock {
  margin-top: 20px;
}

.faqBlock p {
  margin-top: 10px;
}
