.guess-container {
  margin: 10px 0 0;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  
}

.guess-title {
  text-transform: uppercase;
  font-size: .8rem;
  padding-bottom: 5px;
}

.guess-table {
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  font-size: 0.9rem;
  color: #888;
}

.cell {
  padding: 7px;
  border-left: 1px solid #888;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #888;
}

.row:last-child {
  border-bottom: 0;
}

.title-cell {
  align-self: stretch;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  border-left: 0;
  padding-left: 5px;
  padding-right: 10px;
}

.indicator-cell {
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
